<section 
  #content
  class="w-full custom-max-height flex flex-col gap-4 p-4 border border-grey rounded-lg overflow-hidden custom-transition"
  [class.shadow-md]="this.style() === 'default'"
  [class.border-l-4]="this.style() === 'sideColors'"
  [class.border-r-4]="this.style() === 'sideColors'"
  [class.border-l-primary]="this.color() === 'primary' && this.style() === 'sideColors'"
  [class.border-r-primary]="this.color() === 'primary' && this.style() === 'sideColors'"
  [class.border-l-primary-red]="this.color() === 'red' && this.style() === 'sideColors'"
  [class.border-r-primary-red]="this.color() === 'red' && this.style() === 'sideColors'"
>
  <div #title class="flex justify-between items-center mb-1">
    <ng-content select="[title]"></ng-content>

    <div class="size-7 content-center border rounded-sm border-grey cursor-pointer" (click)="this.show.set(!this.show())">
      @if (this.showContent()) {
        <svg 
          class="mx-auto rotate-180 custom-transition" 
          [class.rotate-none]="!this.show()" 
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        >
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m7 10l5 5m0 0l5-5"/>
        </svg>
      } @else {
        <svg 
          class="mx-auto custom-transition" 
          [class.rotate-180]="this.show()" 
          xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        >
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m7 10l5 5m0 0l5-5"/>
        </svg>
      }
    </div>
  </div>

  <ng-content />
</section>
