<div class="flex flex-col gap-4">
  <h1 class="font-bold text-2xl text-center">Control de Asistencias</h1>

  <app-attendances-control-filter 
    [teams]="teamManager.userTeams()"
    [selectedTeam]="selectedTeam()"
    [date]="selectedDate()"
    [startDate]="selectedStartDate()"
    [endDate]="selectedEndDate()"
    (teamsChange)="teamsChange($event)"
    (dateChange)="dateChange($event)"
    (startDateChange)="startDateChange($event)"
    (endDateChange)="endDateChange($event)"
  />

  @if (attendanceManager.attendances().length > 0 && selectedTeam() == null) {
    <app-summary-of-day 
      (clickTeam)="teamsChange($event)"
    />
  }

  @if (attendanceManager.attendances().length > 0) {
    <section class="w-full flex flex-col gap-2 p-4 border rounded-lg border-grey shadow-[0px_2px_4px_grey]">
      @for (attendance of attendanceManager.attendances(); track attendance.id) {
        <app-attendance-control-result 
          [attendance]="attendance"
        />
      }
    </section>
  }
</div>
