<section 
  class="w-full flex flex-col gap-4 p-4 border rounded-lg border-grey shadow-[0px_2px_4px_grey] overflow-hidden"
  [class.h-15]="!showFilters()"
>
  <div class="flex justify-between">
    <div class="h-7 flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6"/>
      </svg>
      <h2 class="font-semibold text-lg">Filtros de Búsqueda</h2>
    </div>
    <div class="size-7 content-center border rounded-sm border-grey cursor-pointer" (click)="toggleFilters()">
      <svg class="mx-auto rotate-180" [class.rotate-none]="!showFilters()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="m7 10l5 5m0 0l5-5"/>
      </svg>
    </div>
  </div>

  <ng-content />
</section>
