@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('public/fonts/Inter-VariableFont.woff2');
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: #155dfc;
  --color-primary-red: #e7000b;
  --color-selected: #badaff;
  --color-grey: #ddd;
  --breakpoint-xs: 24rem;
  --breakpoint-md: 30rem;
  --breakpoint-lg: 48rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 80rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
